<p>
  <%= comment.body %>  <br />
  -- <%= comment.commenter %>
</p>

<% if authorized_editor? %>
  <p>
    <%= link_to "Destroy Comment", [comment.article, comment],
        method: :delete,
        data: {confirm: 'Are you sure?'} %>
  </p>   
<% end %>